In [36]:
import requests
from alphacast import Alphacast
import pandas as pd
import time

In [37]:
alphacast = Alphacast("ak_mRHVZyiLfsAJDrCkZazO")

In [38]:
df = pd.read_excel('../output/ITCRM historico.xlsx',sheet_name="tc_equilibrio")
tc_read_df = pd.read_excel('../output/Tc a precios de hoy.xlsx')[['Período','dolar','inflacion','tc_real_hoy']]

In [42]:
# alphacast.datasets.dataset(37268).download_data("pandas")
alphacast.datasets.dataset(37268).upload_data_from_df(df, deleteMissingFromDB = False, onConflictUpdateDB = False, uploadIndex=False)
time.sleep(10)
alphacast.datasets.dataset(37270).upload_data_from_df(tc_read_df, deleteMissingFromDB = False, onConflictUpdateDB = False, uploadIndex=False)

b'{"id": 1002865, "status": "Requested", "createdAt": "2022-11-09T18:33:57.957687", "datasetId": 37270}'

In [40]:
time.sleep(3)
alphacast.datasets.dataset(37268).processes()
time.sleep(10)
alphacast.datasets.dataset(37270).processes()

b'[{"id": 1002863, "datasetId": 37270, "status": "Processed", "statusDescription": "249 values where missing in data, but left in database./n9119 values added to database./n", "deleteMissingFromDB": 0, "onConflictUpdateDB": 0, "createdAt": "2022-11-09T18:32:09", "processedAt": "2022-11-09T18:32:11"}, {"id": 808792, "datasetId": 37270, "status": "Processed", "statusDescription": "249 values added to database./n", "deleteMissingFromDB": null, "onConflictUpdateDB": null, "createdAt": "2022-10-18T19:00:06", "processedAt": "2022-10-18T19:01:19"}]'

In [41]:
time.sleep(10)
alphacast.datasets.dataset(37268).download_data("pandas")

         Período  tc_equilibrio  tc_oficial_mayorista    brecha
0     1997-11-21       1.928727                  1.00  0.928716
1     1997-11-22       1.928575                  1.00  0.928586
2     1997-11-23       1.928350                  1.00  0.928350
3     1997-11-24       1.924499                  1.00  0.924499
4     1997-11-25       1.927237                  1.00  0.927237
...          ...            ...                   ...       ...
9114  2022-11-04     272.463111                153.18  0.778712
9115  2022-11-05     272.950021                153.18  0.781891
9116  2022-11-06     273.437801                153.18  0.785075
9117  2022-11-07     272.666319                153.18  0.780039
9118  2022-11-08     272.526384                153.18  0.779125

[9119 rows x 4 columns]